<div class="card mb-3 relative">
  <span class="text-900 font-medium text-xl totalHrs">xx hrs</span>
  <div class="flex justify-content-between mb-1">
        <div>
              <div class="card-container">
                    <span class="text-green-500 font-medium">Start: </span>
                    <span class="text-500">00:00</span>
              </div>
              <div class="card-container">
                    <span class="text-orange-500 font-medium">End: </span>
                    <span class="text-500">00:00</span>
              </div>
              <div class="card-container">
                    <span class="text-blue-500 font-medium">Break: </span>
                    <span class="text-500">00:00</span>
              </div>

        </div>
        <div class="flex justify-content-end">
              <div class="flex align-items-center justify-content-center bg-blue-100 border-round cursor-pointer"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-pencil text-blue-500 text-xl"></i>
              </div>
              <div class="flex align-items-center justify-content-center bg-orange-100 border-round ml-3 cursor-pointer"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-trash text-orange-500 text-xl"></i>
              </div>
        </div>
  </div>
  <span class="block text-500 font-medium">Proyecto muy muy largo de nombre nombre nombre</span>
</div>
